.bgcolor-primary{
    background-color: rgb(1, 1, 34);

}

.bgcolor-secondary{
    background-color: #0355ac;
}

.color-text-primary{
    color:rgb(1, 1, 34);
}
.color-text-secondary{
    color: #0355ac;
}

.title-bullet{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    align-self: center;
    justify-self: start;
    transform: rotate(45deg);
    background-color: rgb(1, 1, 34);
    display: block;

}